<div class="lg:overflow-hidden lg:pt-8 lg:pb-14">
  <!-- Subpage header -->
  <div class="mx-auto max-w-4xl px-4 lg:px-0">
    <div class="flex items-center">
      <div class="relative z-10 -rotate-2 border-2 border-black py-2 px-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="relative h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
          />
        </svg>
      </div>
      <h1 class="ml-4 text-3xl font-semibold">Experimentation Events</h1>
    </div>
  </div>

  <!-- Resource Collection -->
  <div class="mx-auto max-w-4xl">
    <div class="mt-12 grid grid-cols-1 gap-x-10 gap-y-10 px-4 md:grid-cols-2 lg:grid-cols-3 lg:px-0">
      {{ collection:events featured:is="true" }}
        <div class="">
          <img src="{{ glide:cover preset='thumbnail' }}" alt="" class="w-full rounded bg-blue-200" />
          <h3 class="mt-2 text-2xl font-semibold">{{ title }}</h3>
          <p class="text-md mt-2.5 text-gray-700">{{ content }}</p>
          <a href="{{ link }}" target="_blank" class="mt-2.5 inline-block font-semibold">Learn more</a>
        </div>
      {{ /collection:events }}
    </div>
  </div>

  <!-- Subsection Header -->
  <div class="mx-auto mt-16 max-w-4xl px-4 lg:px-0">
    <div class="max-w-md">
      <h2 class="mt-2 text-2xl font-semibold">All events in 2022 and 2023</h2>
      <p class="text-md mt-2.5 text-gray-700">Not sure what events to go to yet? Check it out here:</p>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-top">
          <table class="min-w-full table-fixed divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-0 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Name</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">When?</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Location</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {{ collection:events date_from:is_after="today" sort="date_from:asc" }}
                <tr>
                  <td class="whitespace-nowrap py-4 pl-0 pr-3 align-top text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">
                    {{ if link }}
                      <a href="{{ link }}" target="_blank" class="flex items-center hover:underline">
                        {{ title }}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="ml-1 h-3 w-3"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                          />
                        </svg>
                      </a>
                    {{ else }}
                      {{ title }}
                    {{ /if }}
                  </td>
                  <td class="whitespace-nowrap py-4 px-3 align-top text-sm text-gray-500">
                    {{ date_from format="d. M. 'y" }}
                    {{ if date_to }}
                      –
                      {{ date_to format="d. M. 'y" }}
                    {{ /if }}
                  </td>
                  <td class="whitespace-nowrap py-4 px-3 align-top text-sm text-gray-500">{{ location }}</td>
                </tr>
              {{ /collection:events }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Subsection Header -->
  <div class="mx-auto mt-16 max-w-4xl px-4 lg:px-0">
    <div class="max-w-md">
      <h2 class="mt-2 text-2xl font-semibold">Past events</h2>
      <p class="text-md mt-2.5 text-gray-700">Time flies and so did these experimentation events in 2022</p>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full py-2 align-top">
          <table class="min-w-full table-fixed divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-0 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Name</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">When?</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Location</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {{ collection:events date_from:is_before="today" sort="date_from:asc" }}
                <tr>
                  <td class="whitespace-nowrap py-4 pl-0 pr-3 align-top text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">
                    {{ if link }}
                      <a href="{{ link }}" target="_blank" class="flex items-center hover:underline">
                        {{ title }}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="ml-1 h-3 w-3"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                          />
                        </svg>
                      </a>
                    {{ else }}
                      {{ title }}
                    {{ /if }}
                  </td>
                  <td class="whitespace-nowrap py-4 px-3 align-top text-sm text-gray-500">
                    {{ date_from format="d. M. 'y" }}
                    {{ if date_to }}
                      –
                      {{ date_to format="d. M. 'y" }}
                    {{ /if }}
                  </td>
                  <td class="whitespace-nowrap py-4 px-3 align-top text-sm text-gray-500">{{ location }}</td>
                </tr>
              {{ /collection:events }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {{ partial:components/newsletter-signup }}
  <article class="">
    {{ content | widont }}
  </article>
</div>
